<section class="p-about">
  <dl class="p-about__contents">
    <div class="p-about__content">
      <dt>会社名</dt>
      <dd><%- companyName %></dd>
    </div><!-- /.p-about__content -->
    <div class="p-about__content">
      <dt>設立</dt>
      <dd><%- establishment %></dd>
    </div><!-- /.p-about__content -->
    <div class="p-about__content">
      <dt>資本金</dt>
      <dd><%- capitalStock %></dd>
    </div><!-- /.p-about__content -->
    <div class="p-about__content">
      <dt>売上高</dt>
      <dd><%- netSales %></dd>
    </div><!-- /.p-about__content -->
    <div class="p-about__content">
      <dt>代表者</dt>
      <dd><%- representative %></dd>
    </div><!-- /.p-about__content -->
    <div class="p-about__content">
      <dt>従業員数</dt>
      <dd><%- employees %></dd>
    </div><!-- /.p-about__content -->
    <div class="p-about__content">

      <dt>事業内容</dt>
      <dd><%- businessDescription %></dd>
    </div><!-- /.p-about__content -->
    <div class="p-about__content">
      <dt>所在地</dt>
      <dd><%- location %></dd>
    </div><!-- /.p-about__content -->
  </dl><!-- /.p-about-contents -->
  <div class="p-about__map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.74797547231!2d139.74323885175957!3d35.658580480102515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bbd9009ec09%3A0x481a93f0d2a409dd!2z5p2x5Lqs44K_44Ov44O8!5e0!3m2!1sja!2sjp!4v1636721203838!5m2!1sja!2sjp" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div><!-- /.p-about__map -->
</section><!-- /.p-about -->