<section class="about">
  <dl class="about-contents">
    <dt>会社名</dt>
    <dd><%- companyName %></dd>
    <dt>設立</dt>
    <dd><%- establishment %></dd>
    <dt>資本金</dt>
    <dd><%- capitalStock %></dd>
    <dt>売上高</dt>
    <dd><%- netSales %></dd>
    <dt>代表者</dt>
    <dd><%- representative %></dd>
    <dt>従業員数</dt>
    <dd><%- employees %></dd>
    <dt>事業内容</dt>
    <dd><%- businessDescription %></dd>
    <dt>所在地</dt>
    <dd><%- location %></dd>
  </dl><!-- /.about-contents -->
</section><!-- /.about -->