<section class="about">
  <dl class="about-contents">
    <dt>会社名</dt>
    <dd><%- about.companyName %></dd>
    <dt>設立</dt>
    <dd><%- about.establishment %></dd>
    <dt>資本金</dt>
    <dd><%- about.capitalStock %></dd>
    <dt>売上高</dt>
    <dd><%- about.netSales %></dd>
    <dt>代表者</dt>
    <dd><%- about.representative %></dd>
    <dt>従業員数</dt>
    <dd><%- about.employees %></dd>
    <dt>事業内容</dt>
    <dd><%- about.businessDescription %></dd>
    <dt>所在地</dt>
    <dd><%- about.location %></dd>
  </dl><!-- /.about-contents -->
</section><!-- /.about -->