<div class="p-blog-card">
  <div class="p-blog-card__img"><img src="<%= img %> " alt="<%= img__alt %> "></div><!-- /.p-blog-card__img -->
  <div class="p-blog-card__contents">
    <div class="p-card-content__title"><%= blog__title %> </div><!-- /.p-card-content__title -->
    <p class="p-card-content__text"><%= blog__text %> </p><!-- /.p-card-content__text -->
    <div class="p-card-content__info">
      <div class="p-card-info__category"><%= blog__category %> </div><!-- /.p-card-info__category -->
      <time class="p-card-info__day" datetime="<%= date1 %> "><%= date2 %> </time><!-- /.p-card-info__day -->
    </div><!-- /.p-card-content__info -->
  </div><!-- /.p-blog-card__contents -->
</div><!-- /.p-blog-card -->