<div class="l-portfolio-card">
  <a href="<% link %>" class="c-portfolio-card">
    <div class="c-portfolio-card__img"><img src="<%= img %> " alt="<%= img__alt %> "></div><!-- /.c-portfolio-card__img -->
    <div class="c-portfolio-card__contents c-card-content">
      <div class="c-card-content__title"><%= portfolio__title %> </div><!-- /.c-card-content__title -->
      <p class="c-card-content__text"><%= portfolio__text %> </p><!-- /.c-card-content__text -->
      <div class="c-card-content__info">
        <div class="c-card-info__category"><%= portfolio__category %> </div><!-- /.c-card-info__category -->
        <time class="c-card-info__day" datetime="<%= date1 %> "><%= date2 %> </time><!-- /.c-card-info__day -->
      </div><!-- /.c-card-content__info -->
    </div><!-- /.c-portfolio-card__contents -->
  </a><!-- /.c-portfolio-card -->
</div><!-- /.l-portfolio-card -->