<section class="p-service">
  <h3 class="p-service__title">企業理念</h3><!-- /.p-service__title -->
  <p class="p-service__lead">説明が入ります。説明が入ります。説明が入ります。説明が入ります。
    説明が入ります。説明が入ります。説明が入ります。説明が入ります。</p><!-- /.p-service__lead -->
  <div class="p-service__policy">
    <div class="p-sub-policy">
      <div class="p-sub-policy__img"><img src="<%= img1 %>" alt="<%= img_alt1 %>"></div><!-- /.p-sub-policy__img -->
      <div class="p-sub-policy__detail">
        <div class="p-sub-policy__detail--number"><%= title1 %> </div><!-- /.p-sub-policy__detail--number -->
        <p class="p-sub-policy__detail--text"><%= text1 %> </p><!-- /.p-sub-policy__detail--text -->
      </div><!-- /.p-sub-policy__detail -->
    </div><!-- /.p-sub-policy -->
    <div class="p-sub-policy">
      <div class="p-sub-policy__img"><img src="<%= img2 %>" alt="<%= img_alt2 %>"></div><!-- /.p-sub-policy__img -->
      <div class="p-sub-policy__detail">
        <div class="p-sub-policy__detail--number"><%= title2 %> </div><!-- /.p-sub-policy__detail--number -->
        <p class="p-sub-policy__detail--text"><%= text2 %> </p><!-- /.p-sub-policy__detail--text -->
      </div><!-- /.p-sub-policy__detail -->
    </div><!-- /.p-sub-policy -->
    <div class="p-sub-policy">
      <div class="p-sub-policy__img"><img src="<%= img3 %>" alt="<%= img_alt3 %>"></div><!-- /.p-sub-policy__img -->
      <div class="p-sub-policy__detail">
        <div class="p-sub-policy__detail--number"><%= title3 %> </div><!-- /.p-sub-policy__detail--number -->
        <p class="p-sub-policy__detail--text"><%= text3 %> </p><!-- /.p-sub-policy__detail--text -->
      </div><!-- /.p-sub-policy__detail -->
    </div><!-- /.p-sub-policy -->
  </div><!-- /.p-service__policy -->

</section><!-- /.p-service -->