<section class="service">
  <h3 class="service__title">企業理念</h3><!-- /.service__title -->
  <p class="service__lead">説明が入ります。説明が入ります。説明が入ります。説明が入ります。
    説明が入ります。説明が入ります。説明が入ります。説明が入ります。</p><!-- /.service__lead -->
  <div class="service__policy">
    <div class="sub-policy">
      <div class="sub-policy__img"><img src="<%= img1 %>" alt="<%= img_alt1 %>"></div><!-- /.sub-policy__img -->
      <div class="sub-policy__detail">
        <div class="sub-policy__detail--number"><%= title1 %> </div><!-- /.sub-policy__detail--number -->
        <p class="sub-policy__detail--text"><%= text1 %> </p><!-- /.sub-policy__detail--text -->
      </div><!-- /.sub-policy__detail -->
    </div><!-- /.sub-policy -->
    <div class="sub-policy">
      <div class="sub-policy__img"><img src="<%= img2 %>" alt="<%= img_alt2 %>"></div><!-- /.sub-policy__img -->
      <div class="sub-policy__detail">
        <div class="sub-policy__detail--number"><%= title2 %> </div><!-- /.sub-policy__detail--number -->
        <p class="sub-policy__detail--text"><%= text2 %> </p><!-- /.sub-policy__detail--text -->
      </div><!-- /.sub-policy__detail -->
    </div><!-- /.sub-policy -->
    <div class="sub-policy">
      <div class="sub-policy__img"><img src="<%= img3 %>" alt="<%= img_alt3 %>"></div><!-- /.sub-policy__img -->
      <div class="sub-policy__detail">
        <div class="sub-policy__detail--number"><%= title3 %> </div><!-- /.sub-policy__detail--number -->
        <p class="sub-policy__detail--text"><%= text3 %> </p><!-- /.sub-policy__detail--text -->
      </div><!-- /.sub-policy__detail -->
    </div><!-- /.sub-policy -->
  </div><!-- /.service__policy -->

</section><!-- /.service -->