<div class="p-top-card">
  <figure class="p-top-card__img">
    <img src="<%= img %>" alt="<%= img_alt %>">
  </figure>
  <div class="p-top-card__body">
    <h3 class="p-top-card__title"><%= title %></h3>
    <p class="p-top-card__text"><%= text %></p>
    <div class="p-top-card__btn">
      <%- include('../parts/_c-btn',{text:'詳しく見る', link:'service_yoshitaka.html'}) %>
    </div>
  </div>
</div>