<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body class="p-about-page">

    <!-- header -->
    <%- include('./common/_top-header') %> 

    <!-- 下層ページのMV -->
    <div class="p-about-mainvisual mainviusal">
      <%- include('./parts/_c-underpage-mainvisual', {title:'企業概要'}) %> 
    </div>

    <!-- パンくずリスト -->
    <div class="l-inner"><%- include('./parts/_c-breadcrumbs',{text:'企業概要'}) %></div>
    <!-- /.l-inner -->

    <!-- 企業概要 -->
    <div class="l-inner">
      <%- include('./parts/_c-about', { companyName:'テキストが入ります。',
      establishment:'テキストが入ります。', capitalStock:'テキストが入ります。',
      netSales:'テキストが入ります。', representative:'テキストが入ります。',
      employees:'テキストが入ります。',
      businessDescription:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
      location:'テキストが入ります。' }) %>
    </div>
    <!-- /.l-inner -->

    <%- include('./common/_contact') %>

    <%- include('./common/_footer') %>
  </body>
</html>
