<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <%- include('./common/_top-header') %>
      <%- include('./parts/_c-btn',{text:'これはテストです', link:'#'}) %>
    <%- include('./common/_footer') %>


    <% for (var i=0; i < 3; i++) { %>
      <%- include('./parts/_c-btn',{text:'＊＊test＊＊test', link:'#'}) %>
    <% } %>

    <div class="p-blog__contents">
      <% for (var i=1; i <= 3; i++) { %> 
        <%- include('./parts/_c-blog-card',{
        link:'#',
        img:'./images/common/blog-img01.jpg',
        img__alt:'rectangle',
        blog__title:'タイトルが入ります。タイトルが入ります。',
        blog__text:'説明文が入ります。説明文が入ります。説明文が入ります。',
        blog__category:'カテゴリ',
        date1:'2021-07-20',
        date2:'2021.07.20'
      }) %> 
    <% } %> 
  </div><!-- /.blog__contents -->
    
  </body>
</html>
