<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>

    <section class="l-news p-news">
      <div class="p-news__inner l-inner">
        <div class="l-news__container p-news__container">
          <%- include('./common/_news-contents') %>
          <div class="p-news__btn">
            <%- include('./parts/_c-news__btn',{text:'すべて見る', link:'news-yuichi.html'}) %>
          </div><!-- /p-news__btn -->
        </div><!-- /p-news__container -->
      </div><!-- /l-news -->
    </section><!-- /l- -->

      <%- include('./parts/_c-btn',{text:'詳しく見る', link:'#'}) %>

    
      

      
      <div class="p-section-title">
        <%- include('./parts/_c-section-title__english',{text:'Blog'}) %>
        <%- include('./parts/_c-section-title__blog',{text:'ブログ'}) %>
      </div><!-- /p-section-title -->
      <div class="p-section-title">
        <%- include('./parts/_c-section-title__english',{text:'Overview'}) %>
        <%- include('./parts/_c-section-title__overview',{text:'企業概要'}) %>
      </div><!-- /p-section-title -->
      <div class="p-section-title">
        <%- include('./parts/_c-section-title__english',{text:'Works'}) %>
        <%- include('./parts/_c-section-title__works',{text:'制作実績'}) %>
      </div><!-- /p-section-title -->
      <div class="p-section-title">
        <%- include('./parts/_c-section-title__english',{text:'Content'}) %>
        <%- include('./parts/_c-section-title__content',{text:'事業内容'}) %>
      </div><!-- /p-section-title -->
   
      <%- include('./parts/_c-text',{text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>

    <div class="p-blog__contents">
      <% for (var i=1; i <= 3; i++) { %> 
        <%- include('./parts/_c-blog-card',{
        link:'#',
        img:'./images/common/blog-img01.jpg',
        img__alt:'rectangle',
        blog__title:'タイトルが入ります。タイトルが入ります。',
        blog__text:'説明文が入ります。説明文が入ります。説明文が入ります。',
        blog__category:'カテゴリ',
        date1:'2021-07-20',
        date2:'2021.07.20'
      }) %> 
    <% } %> 
  </div><!-- /.blog__contents -->

  <%- include('./common/_contact') %>



  <%- include('./common/_footer') %>

    
  </body>
</html>
