<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>

    <%- include('./mv_yuichi') %>

      <section class="l-top-news">
        <%- include('./parts/_p-top-news') %>
      </section><!-- /l- -->

      <section class="l-top-content">
        <%- include('./parts/_p-top-content') %>
      </section>

      <section class="l-top-works">
        <%- include('./parts/_p-top-works', { img:'../images/common/business-policy-1.png', img_alt:'', }) %>
      </section>

      <section class="l-top-service">
        <%- include('./parts/_p-top-service', { img:'../images/common/business-policy-1.png', img_alt:'', }) %>
      </section>

      <section class="l-top-blog p-top-blog">
        <div class="p-top-blog__inner l-inner">
          <div class="p-top-blog__contents">
            <% for (var i=1; i <=3; i++) { %>
              <%- include('./parts/_c-blog-card',{ link:'#', img:'./images/common/blog-img01.jpg', img__alt:'rectangle',
                blog__title:'タイトルが入ります。タイトルが入ります。', blog__text:'説明文が入ります。説明文が入ります。説明文が入ります。', blog__category:'カテゴリ',
                date1:'2021-07-20', date2:'2021.07.20' }) %>
                <% } %>
          </div><!-- /.blog__contents -->
        </div>
      </section>

      <%- include('./common/_contact') %>


        <%- include('./common/_footer') %>


  </body>

</html>