<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>

    <%- include('./parts/_c-breadcrumbs',{text:'お知らせ一覧'}) %>

    <section class="l-news-news p-news">
      <div class="p-news__inner l-inner">
        <div class="l-news__container p-news__container">
            <%- include('./common/_news-contents') %>
        </div><!-- /p-news__container -->
        <div class="l-news__container p-news__container">
            <%- include('./common/_news-contents') %>
        </div><!-- /p-news__container -->
        <div class="l-news__container p-news__container">
            <%- include('./common/_news-contents') %>
        </div><!-- /p-news__container -->
        <div class="l-news__container p-news__container">
            <%- include('./common/_news-contents') %>
        </div><!-- /p-news__container -->
        <div class="l-news__container p-news__container">
            <%- include('./common/_news-contents') %>
        </div><!-- /p-news__container -->
        <div class="l-news__container p-news__container">
            <%- include('./common/_news-contents') %>
        </div><!-- /p-news__container -->
        <div class="l-news__container p-news__container">
            <%- include('./common/_news-contents') %>
        </div><!-- /p-news__container -->
        <div class="l-news__container p-news__container">
            <%- include('./common/_news-contents') %>
        </div><!-- /p-news__container -->
        <div class="l-news__container p-news__container">
            <%- include('./common/_news-contents') %>
        </div><!-- /p-news__container -->
        <div class="l-news__container p-news__container">
            <%- include('./common/_news-contents') %>
        </div><!-- /p-news__container -->
      </div><!-- /l-news -->
    </section><!-- /l- -->


    
      

      

  <%- include('./common/_contact') %>



  <%- include('./common/_footer') %>

    
  </body>
</html>
