<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body class="p-detail-page">

    <!-- header -->
    <%- include('./common/_top-header') %> 

    <!-- 下層ページのMV -->
    <div class="p-details-mainvisual mainviusal">
      <%- include('./parts/_c-underpage-mainvisual', {title:'企業概要'}) %> 
    </div>

    <!-- パンくずリスト -->
    <div class="l-inner">
      <%- include('./parts/_c-breadcrumbs',{text:'制作実績詳細'}) %>
    </div>

    <!-- ブログ詳細 -->
    <section class="p-portfolio-detail l-inner">
      <div class="p-portfolio-detail__contents c-portfolio">
        <h2 class="c-portfolio__title">〇〇株式会社　制作実績</h2>
        <!-- /.portfolio__title -->
        <ul class="c-portfolio__infomation">
          <li class="c-portfolio__days">
            2020/06/13
          </li>
          <!-- /.portfolio__days -->
          <li class="c-portfolio__category"><a href="">カテゴリ１</a></li>
          <!-- /.portfolio__category -->
        </ul>
        <!-- /.portfolio__infomation -->
        <div class="c-portfolio__thumbnail"><img src="./images/common/thumbnail01.png" alt="" /></div>
        <!-- /.portfolio__thumbnail -->
        <div class="c-portfolio__points c-point">
          <div class="c-point__title">
            制作のポイント
          </div>
          <!-- /.c-point__title -->
          <p class="c-point__text">
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </p>
          <!-- /.c-point__text -->
        </div>
        <div class="c-portfolio__points c-point">
          <div class="c-point__title">
            デザインのポイント
          </div>
          <!-- /.c-point__title -->
          <p class="c-point__text">
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </p>
          <!-- /.c-point__text -->
        </div>
        <div class="c-portfolio__points c-point">
          <div class="c-point__title">
            その他
          </div>
          <!-- /.c-point__title -->
          <p class="c-point__text">
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </p>
          <!-- /.c-point__text -->
        </div>
      </div>
      <!-- /.blog-detail__contents -->
      <div class="p-portfolio-detail__pagination">
        <%- include('./parts/_c-pagination02') %> 
      </div>
      <!-- /.blog-detail__pagination -->
      <div class="p-portfolio-detail__relation">
        <div class="relation__title">関連記事</div><!-- /.relation__title -->
        <div class="relation__portfolios">
          <% for (var i=1; i <= 4; i++) { %> 
            <%- include('./parts/_c-blog-card',{
            link:'#',
            img:'./images/common/portfolio01.png',
            img__alt:'rectangle',
            blog__title:'タイトルが入ります。タイトルが入ります。',
            blog__text:'説明文が入ります。説明文が入ります。説明文が入ります。',
            blog__category:'カテゴリ',
            date1:'2021-07-20',
            date2:'2021.07.20'
          }) %> 
        <% } %>
        </div><!-- /.relation__blogs -->
      </div>
      <!-- /.blog-detail__relation -->
    </section>
    <!-- /.blog-detail -->

    <%- include('./common/_contact') %> 
    <%- include('./common/_footer') %>
  </body>
</html>
