<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body class="p-portfolio-page">

    <!-- header -->
    <%- include('./common/_top-header') %> 

    <!-- 下層ページのMV -->
    <div class="p-portfolio-mainvisual mainviusal">
      <%- include('./parts/_c-underpage-mainvisual', {title:'制作実績'}) %> 
    </div>

    <!-- パンくずリスト -->
    <div class="l-inner"><%- include('./parts/_c-breadcrumbs',{text:'制作実績'}) %></div>
    <!-- /.l-inner -->

    <section class="p-portfolio-under">
      <div class="l-inner">
        <!-- カテゴリ表示 -->
        <div class="p-portfolio-under__category">
          <%- include('./parts/_c-category');  %>
        </div>
        <!-- /.p-blog-under__category -->

        <!-- ブログ一覧 -->
        <div class="p-portfolio-under__contents">
          <div class="p-portfolio__contents">
            <% for (var i=1; i <= 7; i++) { %> 
              <%- include('./parts/_c-portfolio-card',{
              portfolio__link:'#',
              img:'./images/common/portfolio01.png',
              img__alt:'rectangle',
              portfolio__name:'CodeUps株式会社',
              category__link:'#',
              portfolio__category:'カテゴリ1',
            }) %> 
          <% } %> 
        </div><!-- /.blog__contents -->
        </div><!-- /.p-portfolio-under__contents -->

        <!-- ページネーション -->
        <div class="p-portfolio-under__pagination">
          <%- include('./parts/_c-pagination') %>
        </div><!-- /.p-portfolio-under__pagination -->
      </div>
      <!-- /.l-inner -->
    </section>
    <!-- /.p-portfolio-under -->

    <%- include('./common/_contact') %>

    <%- include('./common/_footer') %>
  </body>
</html>