<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body class="p-service-page">

    <!-- header -->
    <%- include('./common/_top-header') %> 
    
    <!-- 下層ページのMV -->
    <div class="p-service-mainvisual">
      <%- include('./parts/_c-underpage-mainvisual', {title:'企業概要'}) %> 
    </div>

    <!-- パンくずリスト -->
    <div class="l-inner"><%- include('./parts/_c-breadcrumbs',{text:'事業内容'}) %></div>
    <!-- /.l-inner -->

    <!-- service -->
    <div class="l-inner">
      <%- include('./parts/_c-service', {
      img1:'./images/common/business-policy-1.png', img_alt1:'',
      title1:'企業理念1',
      text1:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
      img2:'./images/common/business-policy-2.png', img_alt2:'',
      title2:'企業理念2',
      text2:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
      img3:'./images/common/business-policy-3.png', img_alt3:'',
      title3:'企業理念3',
      text3:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
      }) %>
    </div>
    <!-- /.l-inner -->

    <%- include('./common/_contact') %>

    <%- include('./common/_footer') %>
  </body>
</html>
