<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>

    <%- include('./common/_top-header') %>

      <div class="l-work-breadcrumbs">
        <div class="breadcrumbs">
          <ul>
            <li><a href="">トップ</a></li>
            <span>></span>
            <li><a href="">制作実績</a></li>
            <span>></span>
            <li><a href="">制作実績詳細</a></li>
          </ul>
        </div><!-- /.breadcrumbs -->
      </div>

      <div class="l-work p-work">
        <div class="p-work__inner">
          <h3 class="p-work__title">〇〇株式会社様 制作実績</h3>
          <div class="p-work__info">
            <div class="p-work__date">
              <%- include('./parts/_c-news-date',{text:'2020/06/13'}) %>
            </div>
            <div class="p-work__tag">
              <%- include('./parts/_c-news-tag',{text:'カテゴリ1'}) %>
            </div>
          </div>
        </div>

          <div class="p-work__slider">
            <%- include('./parts/_p-work-slider') %>
          </div>

        <div class="p-work__box">
          <div class="p-work__inner">
            <%- include('./parts/_p-work-box', {
              title: '制作のポイント' ,
              text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
            }) %>
            <%- include('./parts/_p-work-box', {
              title: 'デザインのポイント' ,
              text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
            }) %>
            <%- include('./parts/_p-work-box', {
              title: 'その他' ,
              text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
            }) %>
          </div>
        </div>

        <div class="p-work__psgination">
          <%- include('./parts/_c-pagination02') %> 
        </div>

        <div class="p-work__relation">
          <div class="l-inner">
            <div class="relation__title">おすすめ記事</div><!-- /.relation__title -->
            <div class="relation__blogs">
              <% for (var i=1; i <= 4; i++) { %>
                <%- include('./parts/_c-blog-card',{
                link:'#',
                img:'./images/common/blog-img01.jpg',
                img__alt:'rectangle',
                blog__title:'タイトルが入ります。タイトルが入ります。',
                blog__text:'説明文が入ります。説明文が入ります。説明文が入ります。',
                blog__category:'カテゴリ',
                date1:'2021-07-20',
                date2:'2021.07.20'
              }) %>
            <% } %>
            </div><!-- /.relation__blogs -->
          </div>
        </div>
      </div>

      <section class="l-sub-contact">
        <%- include('./common/_contact') %>
      </section>

      <footer>
        <%- include('./common/_footer') %>
      </footer>

  </body>

</html>