<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body class="service-page">
    <!-- 下層ページのMV -->
 

    <!-- パンくずリスト -->
    <div class="l-inner">
      <div class="l-breadcrumbs"><%- include('./parts/_c-breadcrumbs',{text:'お問い合わせ'}) %></div>
      <!-- /.l-breadcrumbs -->
    </div>
    <!-- /.l-inner -->

    <!-- ページネーション作成（プラグインwp-pagenaviを想定） -->
    <%- include('./parts/_c-pagination') %>

    <%- include('./common/_contact') %>


    <%- include('./common/_footer') %>
  </body>
</html>
